body {
    background: #f5f5f0;
    overflow: auto;
    margin: 1rem;
    font: 12px system-ui;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: gainsboro;
}

.foremost {
    border-radius: 30px;
    margin: 50px;
    background-color: linear-gradient(to right, lightblue);
    overflow: auto;
    box-shadow: 10px 150px 500px 100px gray;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 80px;
    border-radius: 30px;
    float: left;
    top: 90px;
    left: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
    transition: all 0.5s;
}

.nav-link {
    text-align: left;
    color: gray;
    font-family: sans-serif;
    font-size: 15px;
}

.page-content {
    widows: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.5s;
}

.info {
    margin-left: 180px;
    margin-top: 10px;
    border-radius: 1rem;
}

#aftermath.agile {
    margin-left: -17rem;
}

.card {
    float: left;
}

#content.agile {
    width: 100%;
    margin: 0;
}

@media (max-width: 500px) {
    #aftermath {
        margin-left: -17rem;
    }
    
    #aftermath.agile {
        margin-left: 0;
    }
    
    #content {
        width: 100%;
        margin: 5px;
    }
    
    #content.agile {
        margin-left: 17rem;
        width: calc(50% - 17rem);
    }
}

.bell {
    margin-left: 60px;
    margin-top: 20px;
}

.start {
    display: block;
    margin-left: 250px;
    margin-top: 5px;
    right: 1200px;
    width: 300px;
    height: 50px;
    padding: 5px;
    display: inline-block;
    background-color: whitesmoke;
    color: gray;
}

.grid {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: auto;
    grid-template-rows: 20% 100px 100px;
    grid-template-areas: 
        "x header header header header"
        "x side bar main main"
        "x footer footer2 footer3 footer4";
}

#carryover {
    grid-area: x;
}

.item-1 {
    grid-area: header;
}

.item-4 {
    grid-area: main;
}

.item-2 {
    grid-area: side;
}

.item-3 {
    grid-area: bar;
}

.item-5 {
    grid-area: footer;
}

.item-8 {
    grid-area: footer2;
}

.item-7 {
    grid-area: footer3;
}

.item-6 {
    grid-area: footer4;
}

#id_1 {
    background: #EDE7F6;
    padding: 1.5rem;
    border-radius: 1rem;
}

#id_2 {
    background-image: url("img1.jpg");
    padding: 1.5rem;
    border-radius: 1rem;
}

#id_3 {
    background-image: url("img2.jpg");
    padding: 1.5rem;
    border-radius: 1rem;
}

#id_4 {
    background-image: url("img3.png");
    padding: 1.5rem;
    border-radius: 1rem;
}

#id_5 {
    background-image: url("img4.jpg");
    padding: 1.5rem;
    border-radius: 1rem;
}

#id_6 {
    background-image: url("img5.jpg");
    padding: 1.5rem;
    border-radius: 1rem;
}

#id_7 {
    background-image: url("img6.jpg");
    padding: 1.5rem;
    border-radius: 1rem;
}

#id_8 {
    background-image: url("img7.jpg");
    padding: 1.5rem;
    border-radius: 1rem;
}